{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Michael Susanto</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<h1>Halo, apa kabar?</h1>
	<div class="status_form">
		<form action="" method="POST">
			{% csrf_token %}
			{% for f in form %}
				{{ f.label|linebreaks }}{{ f }}
			{% endfor %}
			<br>
			<button type="submit" name="submit" id="submit">Post</button>
		</form>
	</div>
	<div class="status_post">
		<p class="your_status">Status Anda:</p>
		{% for s in status %}
		<div class="post">
			{{ s.date }}
			{{ s.status|linebreaks }}
		</div>
		{% endfor %}
	</div>
</body>
</html>